@page 

@model OdeToFood.Pages.Resturants.ResturantDetailModel
@{

}
<h1>Resturant Details</h1>
<h1>@Model.rest.id</h1>
<h1>@Model.rest.Name</h1>
<h1>@Model.rest.CuisineType</h1>

<a asp-page = "./Resturants"  class="btn btn-default">All Resturants</a>
